<body style="background-image:url(images/sensetsky.jpg)">


body {
  background: #888;
  font-family: arial;
}


body {
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753;
	background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right;
	margin: 0;
	padding: 0;
	}

h1, h2, p, li {
  color: #666;
}

a {
  color: green;
}



p {
  background: #666;
  color: white;
  padding: 10px 10px
}

.secondary {
  background-color: #444;

}
 header {
   background-color: #999
   colour: white;
   padding: 15px 15px 0 15px;
 }

 header h1{
   margin: 0;
   display: inline;
 }

 nav ul{
   margin: 0;
 }

 nav ul li {
   background-color: black;
   color: white;
   display: inline-block;
   list-style-type: lower-alpha;
   padding: 5px 15px;
   margin-left: auto;
 }
