body {
    background-image: url("sunset-sky.jng");
}


body {
  background: #888;
  font-family: arial;
}


body {
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753;
	background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right;
	margin: 0;
	padding: 0;
	}

h1, h2, p, li {
  color: #666;
}

a {
  color: grey;
}



p {
  background: #666;
  color: white;
  padding: 10px 10px
}

.secondary {
  background-color: #444;

}
 header {
   background-color: black
   colour: white;
   padding: 15px 15px 0 15px;
 }

 header h1{
   margin: 0;
   display: inline;
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }

 li {
     float: left;
 }

 a {
     display: block;
     padding: 8px;
     background-color: #dddddd;
 }

 li a {
     display: inline;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 /* Change the link color to #111 (black) on hover */
 li a:hover {
     background-color: #111;
 }
