body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("sunset-sky.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body {
  background: #black;
  font-family: arial;
}


body {
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #black;
	background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right;
	margin: 0;
	padding: 0;
	}

h1, h2, p, li {
  color: black
}

a {
  color: grey;
}

h1, h2, p, li {
    text-align: center;
}


p {
  background: #666;
  color: white;
  padding: 10px 10px
}

.secondary {
  background-color: #444;

}
 header {
   background-color: black
   colour: white;
   padding: 15px 15px 0 15px;
 }

 header h1{
   margin: 0;
   display: inline;
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.active {
    background-color: #4CAF50;
    color: white;
}

ul {
    border: 1px solid #555;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }

 li {
     float: left;
 }

 a {
     display: block;
     padding: 8px;
     background-color: #dddddd;
 }

 li a {
     display: inline;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 /* Change the link color to #111 (black) on hover */
 li a:hover {
     background-color: #111;
 }
